<!DOCTYPE html>
<html>
<head th:insert="players/layout.html">
<meta charset="UTF-8">
<title>APIテスト実行</title>
</head>
<body>
	<div class="container">
		<h1>APIテスト実行画面</h1>
		<div th:insert="zaiko/common_header_footer"></div>
			<form th:action="@{/zaiko/api/test/insert}" th:method="get">
				<button type="submit" class="btn btn-danger">実行 : 一覧画面テストデータ投入API</button>
			</form>
			<br/>
			<form th:action="@{/zaiko/api/deleteall}" th:method="get">
				<button type="submit" class="btn btn-danger">実行 : 全データ削除API</button>
			</form>
			<br/>
			<form th:action="@{/zaiko/api/test/query}" th:method="get">
				<button type="submit" class="btn btn-danger">実行 : nativeクエリテストAPI(ログ確認)</button>
			</form>
		<div th:insert="zaiko/common_header_footer"></div>
	</div>
</body>
</html>