<!DOCTYPE html>
<html>
<head th:insert="players/layout">
<meta charset="UTF-8">
<title>在庫管理システム</title>
</head>
<body>
	<div class="container">
		<h1>在庫詳細</h1>
		<div th:insert="zaiko/common_header_footer"></div>
		<table class="table table-bordered table-hover">
			<tbody th:object="${zaikoDto}">
				<tr>
					<td class="table-info">ID</td>
					<td th:text="*{zaikoId}"></td>
				</tr>
				<tr>
					<td class="table-info">商品名</td>
					<td th:text="*{productName}"></td>
				</tr>
				<tr>
					<td class="table-info">在庫数</td>
					<td th:text="*{zaikosu}"></td>
				</tr>
				<tr>
					<td class="table-info">在庫保管場所</td>
					<td th:text="*{locationName}"></td>
				</tr>
				<tr>
					<td class="table-info">備考</td>
					<td th:text="*{biko}"></td>
				</tr>
			</tbody>
		</table>
		<div>
			<button type="button" class="btn btn-default" th:attr="onClick='location.href=\''+@{/zaiko/list}+'\''">一覧画面へ</button>
			<button th:object="${zaikoDto}" type="button" class="btn btn-success" th:attr="onClick='location.href=\''+@{/zaiko/{id}/edit(id=*{zaikoId})}+'\''">修正</button>
		</div>
		<br/>
		<div th:insert="zaiko/common_header_footer"></div>
	</div>
</body>
</html>