<!DOCTYPE html>
<html>
<head th:insert="players/layout.html">
<meta charset="UTF-8">
<title>在庫管理システム</title>
</head>
<body>
	<div class="container">
		<h1>商品マスタ</h1>
		<div th:insert="zaiko/common_header_footer"></div>
		<div style="height: 800px; overflow: auto;">
		<table class="table table-striped table-bordered table-hover">
			<thead class="sticky-top thead-dark">
				<tr>
					<th>商品ID</th>
					<th>商品コード</th>
					<th>商品名</th>
					<th>商品金額</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="itemMaster : ${itemMasterList}" th:object="${itemMaster}">
					<td th:text="*{itemMasterId}"></td>
					<td th:text="*{itemMasterCd}"></td>
					<td th:text="*{itemName}"></td>
					<td th:text="*{itemPrice}"></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:insert="zaiko/common_header_footer"></div>
	</div>
</body>
</html>