<!DOCTYPE html>
<html>
<head th:insert="players/layout">
<meta charset="UTF-8">
<title>在庫管理システム</title>
</head>
<body>
	<div class="container">
		<h1>在庫新規登録</h1>
		<br/>
		<div class="" style="height:50px; background-color: #f5af7d;">
			<a style="width:100px;" href="/zaiko">TOP画面</a>
			<a href="/zaiko/list">在庫一覧</a>
		</div>
		<form th:action="@{/zaiko/regist}" th:method="post" th:object="${zaikoDto}">
			<div class="form-group" th:classappend="${#fields.hasErrors('productName')}? has-error">
				<label class="control-label">商品名</label>
				<input class="form-control" type="text" th:field="*{productName}"/>
				<span class="text-danger" th:if="${#fields.hasErrors('productName')}? has-error" th:errors="*{productName}"></span>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('zaikosu')}? has-error">
				<label class="control-label">在庫数</label>
				<input class="form-control" type="text" th:field="*{zaikosu}"/>
				<span class="text-danger" th:if="${#fields.hasErrors('zaikosu')}? has-error" th:errors="*{zaikosu}"></span>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('locationName')}? has-error">
				<label class="control-label">在庫保管場所</label>
				<input class="form-control" type="text" th:field="*{locationName}"/>
				<span class="text-danger" th:if="${#fields.hasErrors('locationName')}? has-error" th:errors="*{locationName}"></span>
			</div>
			<div class="form-group" th:classappend="${#fields.hasErrors('biko')}? has-error">
				<label class="control-label">備考</label>
				<input class="form-control" type="text" th:field="*{biko}"/>
				<span class="text-danger" th:if="${#fields.hasErrors('biko')}? has-error" th:errors="*{biko}"></span>
			</div>
			<button type="button" class="btn btn-default" th:attr="onClick='location.href=\''+@{/zaiko}+'\''">TOP画面へ</button>
			<button class="btn btn-success regist-action" type="submit">登録実行</button>
		</form>
		<br/>
		<div class="" style="height:50px; background-color: #f5af7d;">
			<a style="width:100px;" href="/zaiko">TOP画面</a>
			<a href="/zaiko/list">在庫一覧</a>
		</div>
		<br/>
		<br/>
	</div>
	
	<script>
		const REGIST_MESSAGE="登録します。よろしいでしょうか。";
		$('.regist-action').click(function(){
			if (!confirm(REGIST_MESSAGE)) {
				return false;
			}
		});
	</script>
</body>
</html>